.cartCard{
    background-color: rgb(235, 173, 103);
    color:  #063e75;
}

.payBtn{
    background-color:  #85b2df;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.inputField{
    color:  #063e75 !important;
    width: 80px !important; 
}
.headingCart{
    color:  #063e75 !important;
}

.payBtn:hover{
        background-color: #5194d7;
        transform: scale(1.05);
        color: white;
}
