body{
    background-color: rgb(212, 209, 206);
}

.homepageCard{
    height: 100%;
    background-color: #85b2df;
    color: white;
    transition: background-color 0.3s ease, transform 0.2s ease;

}
.addCartBtn{
background-color: rgb(235, 173, 103);
color: white;
margin-top: auto;
transition: background-color 0.3s ease, transform 0.2s ease;
}

.homepageCard .card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
  }

  .addCartBtn:hover {
    background-color: rgb(200, 140, 80);
    transform: scale(1.05);
    color: white;
}

.homepageCard:hover {
    background-color: #6fa6dc;
    transform: scale(1.05);
    color: white;
}