.navBar{
    background-color: #85b2df !important;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}
.signupBtn{
    background-color: rgb(9, 16, 86);
    transition: background-color 0.3s ease, transform 0.2s ease;

}
.logInBtn{
    background-color: rgb(100, 140, 97);
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.signupBtn:hover{
    background-color: rgb(41, 32, 178);
    transform: scale(1.05);
    color: white;
}
.carouselImg{
    height: 600px !important;
}

.logInBtn:hover {
    background-color: rgb(35, 85, 31);
    transform: scale(1.05);
    color: white;
}

.footerPart{
    background-color: rgb(235, 173, 103);
}